.detail {
    position: relative;
    /* width: 1440px;
    height: 1080px; */

    background: #FFFFFF;
}

.sidebar {
    position: fixed;
    width: 280px;
    left: 0px;
    top: 0%;
    bottom: 0%;
    background: #1D1D1D;
}

.text {
    position: absolute;
    width: 233px;
    height: 36px;
    left: 344px;
    top: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    /* Blue */

    color: #1A1A1C;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    height: 976px;
    left: 344px;
    right: 64px;
    top: 180px;

}

.btn {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;

    position: absolute;
    width: 238px;
    height: 48px;
    right: 64px;
    top: 60px;

    /* Primary */

    background: #F65344;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(228, 157, 228);
    color: white;
}

.btn p {
    /* width: 158px; */
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: -0.01em;

    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn_plus {
    left: 16.67%;
    right: 16.67%;
    top: 16.67%;
    bottom: 16.67%;
    font-size: large;
}

.sidebar_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;

    position: absolute;
    width: 232px;
    height: 456px;
    left: 24px;
    top: 186px;
}

.sidebar_menuorder {
    font-family: 'Inter';
    font-style: normal;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    /* width: 144px; */
    height: 264px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.sidebar_menuorder1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 112px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.sidebar_menuorder a {
    padding: 9px 15px 6px 2px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}

.sidebar_menuorder a:hover {
    color: #f1f1f1;
}

.sidebar_menuorder_icon {
    width: 24px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.sidebar_menuorder_title {
    width: 80px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: -0.01em;

    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.titlte {
    position: absolute;
    width: 333px;
    height: 16px;
    left: 0px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.02em;

    /* Body */

    color: #A3A3A3;
}

.sidebar_logo {
    position: absolute;
    width: 159.51px;
    height: 44px;
    left: 24px;
    top: 64px;
}

.sidebar_information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 232px;
    height: 72px;
    left: 24px;
    bottom: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    height: 976px;
    left: 344px;
    right: 64px;
    top: 180px;
}

.customers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    height: 976px;
    left: 344px;
    right: 64px;
    top: 180px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
}

.customers td,
.customers th {
    padding: 8px;
}


.customers tr:hover {
    background-color: #ddd;
}

.content_title1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1032px;
    height: 32px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.content_title2 {
    /* width: 1032px;
    height: 16px; */
    /* display: flex;
    width: 100%; */
    /* border-bottom: inset; */
    /* Inside auto layout */

    /* flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0; */
}

.content_title3 {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    border-bottom: inset;
    border-bottom-width: 1px;
    /* position: absolute;
    width: 1032px;
    height: 16px;
    left: 0px;
    top: 0px; */
}

.content_title_project {
    width: 50%;
    /* position: absolute;
    width: 333px;
    height: 16px;
    left: 0px;
    top: 0px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.02em;

    /* Body */

    color: #A3A3A3;
}

.content_title_deadline {
    width: 25%;
    /* position: absolute;
    height: 16px;
    left: 524px;
    right: 262px;
    top: 0px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.02em;

    /* Body */

    color: #A3A3A3;
}

.content_title_status {
    width: 22%;
    /* position: absolute;
    height: 16px;
    left: 786px;
    right: 87px;
    top: 0px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.02em;

    /* Body */

    color: #A3A3A3;
}

.content_title_action {
    /* position: absolute;
    height: 16px;
    left: 961px;
    right: 0px;
    top: 0px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    text-align: right;
    letter-spacing: 0.02em;

    /* Body */

    color: #A3A3A3;
}

.content_line {
    width: 50%;
    /* flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px; */

    /* width: 1032px;
    height: 920px; */


    /* Inside auto layout */

    /* flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0; */
}

.content_table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    /* width: 1032px;
    height: 920px; */


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.content_table1 {
    display: flex;
    /* width: 1032px;
    height: 88px; */

    background: #FAF8F7;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;
}

.content_table2 {
    display: flex;
    width: 1032px;
    height: 88px;

    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;
}

.content_table3 {
    display: flex;
    width: 1032px;
    height: 88px;

    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;
}

.content_table4 {
    display: flex;
    width: 1032px;
    height: 88px;

    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;
}

.content_table5 {
    display: flex;
    width: 1032px;
    height: 88px;

    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;
}

.content_table6 {
    display: flex;
    width: 1032px;
    height: 88px;

    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;
}

.content_table_btn {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    position: absolute;
    width: 62px;
    height: 20px;
    left: 1106px;
    top: 10%;

    background: #EAE8F7;
    border-radius: 4px;
}

.content_table_btn1 {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    position: absolute;
    width: 62px;
    height: 20px;
    left: 1106px;
    top: 21%;

    background: #EAE8F7;
    border-radius: 4px;
}

.content_table_btn2 {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    position: absolute;
    width: 97px;
    height: 20px;
    left: 1106px;
    top: 31%;

    background: #F7E8E9;
    border-radius: 4px;
}

.content_table_btn3 {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    position: absolute;
    width: 97px;
    height: 20px;
    left: 1106px;
    top: 41%;

    background: #F7E8E9;
    border-radius: 4px;
}

.content_table_btn4 {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    position: absolute;
    width: 97px;
    height: 20px;
    left: 1106px;
    top: 52%;

    background: #F7E8E9;
    border-radius: 4px;
}

.content_table_btn5 {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    position: absolute;
    width: 97px;
    height: 20px;
    left: 1106px;
    top: 63%;

    background: #F7E8E9;
    border-radius: 4px;
}

.content_table_btn_text {
    width: 46px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #11184A;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.content_table_btn_text1 {
    width: 46px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #11184A;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.content_table_btn_text2 {
    width: 81px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #BD2831;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.content_table_btn_text3 {
    width: 81px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #BD2831;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.content_table_btn_text4 {
    width: 81px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #BD2831;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.content_table_btn_text5 {
    width: 81px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #BD2831;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.content_table_img1 {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 8px;
    top: 10%
}

.content_table_img2 {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 8px;
    top: 21%
}

.content_table_img3 {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 8px;
    top: 31%
}

.content_table_img4 {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 8px;
    top: 41%
}

.content_table_img5 {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 8px;
    top: 52%
}

.content_table_img6 {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 8px;
    top: 63%
}

.content_table_left1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    height: 72px;
    left: 8px;
    right: 691px;
    top: 6.5%;
}

.content_table_left1_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 72px;
    height: 72px;

    background: #F0F0F0;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.content_table_left2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    height: 72px;
    left: 8px;
    right: 691px;
    top: 17%;
}

.content_table_left3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    height: 72px;
    left: 8px;
    right: 691px;
    top: 27.5%;
}

.content_table_left4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    height: 72px;
    left: 8px;
    right: 691px;
    top: 38%;
}

.content_table_left5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    height: 72px;
    left: 8px;
    right: 691px;
    top: 48.5%;
}

.content_table_left6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    height: 72px;
    left: 8px;
    right: 691px;
    top: 59%;
}

.content_table_detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 245px;
    height: 40px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}

.content_table_img_cloud {
    display: flex;
    width: 20px;
    height: 20px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.content_table_detail_text {
    display: contents;
    width: 217px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: -0.01em;
    /* Title */
    color: #1D1D1D;
    /* Inside auto layout */

    flex: content;
    order: 1;
    flex-grow: 1;
}

.content_table_detai_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 245px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.content_table_detail_undertext {
    width: 245px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    letter-spacing: -0.01em;

    /* Body */

    color: #A3A3A3;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.content_table_detail_deadlinetext {
    position: absolute;
    height: 20px;
    left: 740px;
    right: 262px;
    top: 10%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    /* Title */

    color: #1D1D1D;
}

.content_table_detail_deadlinetext1 {
    position: absolute;
    height: 20px;
    left: 740px;
    right: 262px;
    top: 21%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    /* Title */

    color: #1D1D1D;
}

.content_table_detail_deadlinetext2 {
    position: absolute;
    height: 20px;
    left: 740px;
    right: 262px;
    top: 31%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    /* Title */

    color: #1D1D1D;
}

.content_table_detail_deadlinetext3 {
    position: absolute;
    height: 20px;
    left: 740px;
    right: 262px;
    top: 41%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    /* Title */

    color: #1D1D1D;
}

.content_table_detail_deadlinetext4 {
    position: absolute;
    height: 20px;
    left: 740px;
    right: 262px;
    top: 52%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    /* Title */

    color: #1D1D1D;
}

.content_table_detail_deadlinetext5 {
    position: absolute;
    height: 20px;
    left: 740px;
    right: 262px;
    top: 63%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    /* Title */

    color: #1D1D1D;
}

.sidebar_intro {
    width: 232px;
    height: 132px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}