*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

body {
    min-height: 100vh;
    font-family: 'Inter';
}

.title {
    /* width: calc(100vw - 280px); */
    margin-left: 280px;
    height: 100vh;
    padding: 64px;
}

.title_title--main {
    display: flex;
    justify-content: space-between;
}

img {
    margin-right: 10px;
}

.title_project {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #1A1A1C;
}

.sidebar-link {
    display: flex;
    justify-content: space-between;
}


/* ///////////////////// */
.detail {
    position: relative;
    /* width: 1440px;
    height: 1080px; */

    background: #FFFFFF;
}

.sidebar {
    position: fixed;
    width: 280px;
    left: 0px;
    top: 0%;
    bottom: 0%;
    background: #1D1D1D;
    padding: 24px;
}

.text {
    position: absolute;
    width: 233px;
    height: 36px;
    left: 344px;
    top: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    /* Blue */

    color: #1A1A1C;
}

/* 
.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    height: 976px;
    left: 344px;
    right: 64px;
    top: 180px;

} */

.title_create {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;

    /* position: absolute; */
    width: 238px;
    height: 48px;
    right: 64px;
    top: 60px;

    /* Primary */

    background: #F65344;
    border-radius: 8px;
    cursor: pointer;
}

.title_create:hover {
    /* background-color: rgb(228, 157, 228);
    color: white; */
    opacity: 0.6;
}

.title_create p {
    /* width: 158px; */
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: -0.01em;

    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn_plus {
    left: 16.67%;
    right: 16.67%;
    top: 16.67%;
    bottom: 16.67%;
    font-size: large;
}

.sidebar_menu {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;

    position: absolute;
    width: 232px;
    height: 456px;
    left: 24px;
    top: 186px; */
    /* padding: 24px; */
}

.sidebar_menuorder {
    /* font-family: 'Inter';
    font-style: normal;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 144px;
    height: 264px;
    flex: none;
    order: 0;
    flex-grow: 0; */
    padding-top: 54px;
}

.sidebar_text {
    /* width: 80px; */
    /* height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0; */
    margin-left: 8px;
}

.sidebar_icon path{
    stroke: #818181;
}

.sidebar_menuorder1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 112px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.sidebar_menuorder a {
    padding: 9px 12px 6px 2px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: flex;
    align-items: center;
}

.sidebar_menuorder a:hover {
    color: #f1f1f1;
}

.sidebar_menuorder path:hover {
    fill: #f1f1f1;
}

.sidebar_menuorder_icon {
    width: 24px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.sidebar_menuorder_title {
    width: 80px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.titlte {
    position: absolute;
    width: 333px;
    height: 16px;
    left: 0px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.02em;

    /* Body */

    color: #A3A3A3;
}

.sidebar_logo {
    /* position: absolute;
    width: 159.51px;
    height: 44px;
    left: 24px;
    top: 64px; */
    padding-top: 40px;
}

.sidebar_information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 232px;
    height: 72px;
    left: 24px;
    bottom: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    height: 976px; */
    gap: 24px;
    margin-top: 66px;
   
    left: 344px;
    right: 64px;
    top: 180px;
}

.customers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    height: 976px;
    left: 344px;
    right: 64px;
    top: 180px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
}

.customers td,
.customers th {
    padding: 8px;
}


.customers tr:hover {
    background-color: #ddd;
}

.content_title1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1032px;
    height: 32px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.content_title2 {
    /* width: 1032px;
    height: 16px; */
    /* display: flex;
    width: 100%; */
    /* border-bottom: inset; */
    /* Inside auto layout */

    /* flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0; */
}

.content_content--title {
    display: flex;
    /* justify-content: space-between; */
    /* width: 100%; */
    /* border-bottom: inset;
    border-bottom-width: 1px;
    height: 33px; */
    border-bottom: 1px solid rgba(150,160,170,0.3);
    padding-bottom: 16px;
    /* position: absolute;
    width: 1032px;
    height: 16px;
    left: 0px;
    top: 0px; */
}

.content_project {
    width: 50%;
    /* position: absolute;
    width: 333px;
    height: 16px;
    left: 0px;
    top: 0px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.02em;

    /* Body */

    color: #A3A3A3;
}

.content_deadline {
    width: 25%;
    /* position: absolute;
    height: 16px;
    left: 524px;
    right: 262px;
    top: 0px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.02em;

    /* Body */

    color: #A3A3A3;
}

.content_status {
    width: 22%;
    /* position: absolute;
    height: 16px;
    left: 786px;
    right: 87px;
    top: 0px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.02em;

    /* Body */

    color: #A3A3A3;
}

.content_action {
    /* position: absolute;
    height: 16px;
    left: 961px;
    right: 0px;
    top: 0px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    text-align: right;
    letter-spacing: 0.02em;

    /* Body */

    color: #A3A3A3;
}

.content_line {
    width: 50%;
    /* flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px; */

    /* width: 1032px;
    height: 920px; */


    /* Inside auto layout */

    /* flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0; */
}

.content_content--table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    /* width: 1032px;
    height: 920px; */


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.col-6.project-item__image {
    display: flex;
    width: 50%;
}

.col-3.project-item__deadline {
    display: flex;
    align-items: center;
    width: 25%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.project_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    height: 40px;
    align-self: center;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}

.project-item_img {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.row.project-item {
    transition: 0.2s ease;
    display: flex;
    padding: 8px 0;
    /* width: 1032px;
    height: 88px; */

    
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    align-self: stretch;
    cursor: pointer;
}

.row.project-item:hover{
    background: #FAF8F7;
    padding-left: 8px;
    padding-right: 8px;
}
.project-item_img-detail {
    display: flex;
    width: 20px;
    height: 20px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.project-item_img-text {
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: -0.01em;

    /* Title */

    color: #1D1D1D;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}

.project-item_bio {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    letter-spacing: -0.01em;

    /* Body */

    color: #A3A3A3;


    /* Inside auto layout */

    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.col-2.project-item__status {
    display: flex;
    align-items: center;
    width: 23%;
}

.project_item_status-text {
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */
    padding: 0px 8px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border-radius: 4px;
    color: #11184A;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    background: #EAE8F7;
}

.project_item_status-textfix{
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */
    padding: 0px 8px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border-radius: 4px;
    color: #BD2831;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    background: #F7E8E9;
}

.content_table2 {
    display: flex;
    width: 1032px;
    height: 88px;

    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;
}

.content_table3 {
    display: flex;
    width: 1032px;
    height: 88px;

    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;
}

.content_table4 {
    display: flex;
    width: 1032px;
    height: 88px;

    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;
}

.content_table5 {
    display: flex;
    width: 1032px;
    height: 88px;

    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;
}

.content_table6 {
    display: flex;
    width: 1032px;
    height: 88px;

    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;
}

.content_table_btn {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    position: absolute;
    width: 62px;
    height: 20px;
    left: 1106px;
    top: 10%;

    background: #EAE8F7;
    border-radius: 4px;
}

.content_table_btn1 {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    position: absolute;
    width: 62px;
    height: 20px;
    left: 1106px;
    top: 21%;

    background: #EAE8F7;
    border-radius: 4px;
}

.content_table_btn2 {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    position: absolute;
    width: 97px;
    height: 20px;
    left: 1106px;
    top: 31%;

    background: #F7E8E9;
    border-radius: 4px;
}

.content_table_btn3 {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    position: absolute;
    width: 97px;
    height: 20px;
    left: 1106px;
    top: 41%;

    background: #F7E8E9;
    border-radius: 4px;
}

.content_table_btn4 {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    position: absolute;
    width: 97px;
    height: 20px;
    left: 1106px;
    top: 52%;

    background: #F7E8E9;
    border-radius: 4px;
}

.content_table_btn5 {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    position: absolute;
    width: 97px;
    height: 20px;
    left: 1106px;
    top: 63%;

    background: #F7E8E9;
    border-radius: 4px;
}

.content_table_btn_text {
    width: 46px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #11184A;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.content_table_btn_text1 {
    width: 46px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #11184A;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.content_table_btn_text2 {
    width: 81px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #BD2831;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.content_table_btn_text3 {
    width: 81px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #BD2831;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.content_table_btn_text4 {
    width: 81px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #BD2831;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.content_table_btn_text5 {
    width: 81px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #BD2831;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.col-1.project-item__action1 {
    position: relative;
    width: 24px;
}

.title_create_outside{
    position: relative;
   
}

.table_content--img1 {
    position: absolute;
    /* width: 24px;
    height: 24px;
    right: 0; */
    top: 50%;
    transform: translateY(-50%);
}

.table_content--img2 {
    position: absolute;
    /* width: 24px;
    height: 24px;
    right: 0; */
    top: 50%;
    transform: translateY(-50%);
}

.table_content--img3 {
    position: absolute;
    /* width: 24px;
    height: 24px;
    right: 0; */
    top: 50%;
    transform: translateY(-50%);
}

.table_content--img4 {
    position: absolute;
    /* width: 24px;
    height: 24px;
    right: 0; */
    top: 50%;
    transform: translateY(-50%);
}

.table_content--img5 {
    position: absolute;
    /* width: 24px;
    height: 24px;
    right: 0; */
    top: 50%;
    transform: translateY(-50%);
}

.content_table_left1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    height: 72px;
    left: 8px;
    right: 691px;
    top: 6.5%;
}

.content_table_left1_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 72px;
    height: 72px;

    background: #F0F0F0;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.content_table_left2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    height: 72px;
    left: 8px;
    right: 691px;
    top: 17%;
}

.content_table_left3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    height: 72px;
    left: 8px;
    right: 691px;
    top: 27.5%;
}

.content_table_left4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    height: 72px;
    left: 8px;
    right: 691px;
    top: 38%;
}

.content_table_left5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    height: 72px;
    left: 8px;
    right: 691px;
    top: 48.5%;
}

.content_table_left6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    height: 72px;
    left: 8px;
    right: 691px;
    top: 59%;
}

.content_table_detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 245px;
    height: 40px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}

.content_table_img_cloud {
    display: flex;
    width: 20px;
    height: 20px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.content_table_detail_text {
    display: contents;
    width: 217px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: -0.01em;
    /* Title */
    color: #1D1D1D;
    /* Inside auto layout */

    flex: content;
    order: 1;
    flex-grow: 1;
}

.content_table_detai_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 245px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.content_table_detail_undertext {
    width: 245px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    letter-spacing: -0.01em;

    /* Body */

    color: #A3A3A3;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.content_table_detail_deadlinetext {
    position: absolute;
    height: 20px;
    left: 740px;
    right: 262px;
    top: 10%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    /* Title */

    color: #1D1D1D;
}


.sidebar_intro {
    /* width: 232px;
    height: 132px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0; */
    padding-top: 60px;
}